<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Spring Security Registration Example</title>
</head>
<body>
<!-- Отображение ошибок регистрации -->
<div th:if="${param.error}">
    An error occurred during registration.
</div>
<!-- Уведомление об успешной регистрации -->
<div th:if="${param.success}">
    Registration successful. You can now log in.
</div>
<!-- Форма регистрации -->
<form th:action="@{/register}" method="post">
    <div><label> User Name: <input type="text" name="username" required/> </label></div>
    <div><label> Password: <input type="password" name="password" required/> </label></div>
    <div><label> Confirm Password: <input type="password" name="confirmPassword" required/> </label></div>
    <div><input type="submit" value="Register"/></div>
</form>
</body>
</html>